.place-order-left input {
  width: 100%px;
  padding: 10px;
  border: 1px solid #ccc;   
  border-radius: 2px;
  outline-color: tomato;
  margin-bottom: 15px;
}

.place-order input:focus {
  border: 1px solid #000;
}   

.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.place-order-left{
     width: 100%;
     max-width: max(30%,500px);
}

.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
} 

.place-order-left .multi-fields{
    display: flex;
    gap: 10px; 
}

